//== COLORS
// TEMPLATE 1
$c-b:                     #1C1C1C !default;
$c-1:	                 #FFFFFF;
$c-2:                     #000000;
$c-3:                    #435993;
$c-4:                    #E5E5E5;
$c-5:                    #C8C8C8;
$c-6:                    #3B4E81;
$c-7:                    #D9D9D9;
$c-8:                    #E9EFFF;
$c-9:                    #DA1022;
$c-10:                   #ADADAD;
$c-11:                   #E8E8E8;
$c-12:                   #2E211C;
$c-13:                   #CCB1F1;

//== TYPOGRAPHY
$f-b:					 'RobotoLight', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-1:					 'RobotoRegular', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-2:					 'RobotoThin', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$f-3:					  Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;

  
$fs-b:                   16px !default;
$fs-75:                  75px;
$fs-74:                  74px;
$fs-73:                  73px;
$fs-72:                  72px;
$fs-71:                  71px;
$fs-70:                  70px;
$fs-65:                  65px;
$fs-60:                  60px;
$fs-58:                  58px;
$fs-55:                  55px;
$fs-54:                  54px;
$fs-53:                  53px;
$fs-52:                  52px;
$fs-51:                  51px;
$fs-50:                  50px;
$fs-49:                  49px;
$fs-48:                  48px;
$fs-47:                  47px;
$fs-46:                  46px;
$fs-45:                  45px;
$fs-44:                  44px;
$fs-43:                  43px;
$fs-42:                  42px;
$fs-41:                  41px;
$fs-40:                  40px;
$fs-39:                  39px;
$fs-38:                  38px;
$fs-37:                  37px;
$fs-36:                  36px;
$fs-35:                  35px;
$fs-34:                  34px;
$fs-33:                  33px;
$fs-32:                  32px;
$fs-31:                  31px;
$fs-30:                  30px;
$fs-29:                  29px;
$fs-28:                  28px;
$fs-27:                  27px;
$fs-26:                  26px;
$fs-25:                  25px;
$fs-24:                  24px;
$fs-23:                  23px;
$fs-22:                  22px;
$fs-21:                  21px;
$fs-20:                  20px;
$fs-19:                  19px;
$fs-18:                  18px;
$fs-17:                  17px;
$fs-16:                  16px;
$fs-15:                  15px;
$fs-14:                  14px;
$fs-13:                  13px;
$fs-12:                  12px;
$fs-11:                  11px;
$fs-10:                  10px;
$fs-9:                   9px;
$fs-8:                   8px;








