@import "reset",
        "variables",
        "mixins",
        "fonts",
        "default";

/*------------------------------------------------------------------------ 
            |   | |--   /\   |--\  |--| |--|
            |-- | |--  /--\  |   | |__| |--|
            |   | |-- /    \ |--/  |__  |  \
--------------------------------------------------------------------------*/
@import "header";

/*------------------------------------------------------------------------ 
        |--- |\  | |--\     |   | |--   /\   |--\  |--| |--|
        |--- | \ | |   |    |-- | |--  /--\  |   | |__| |--|
        |--- |  \| |--/     |   | |-- /    \ |--/  |__  |  \
--------------------------------------------------------------------------*/

/*------------------------------------------------------------------------ 
                        |\  /|   /\   | |\  |
                        | \/ |  /--\  | | \ |
                        |    | /    \ | |  \|
--------------------------------------------------------------------------*/
@import "add-styles",
        "form",
        "content",
        "selectric",
        "ionrangeslider";

/*------------------------------------------------------------------------ 
                        |--- |\  | |--\     |\  /|   /\   | |\  |
                        |--- | \ | |   |    | \/ |  /--\  | | \ |
                        |--- |  \| |--/     |    | /    \ | |  \|
--------------------------------------------------------------------------*/

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}